{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<style>
    h1 {
        color:white;
    }
</style>
{% endblock %}

{% block body %}
<h1>Mon Blog Symfony </h1>
{% endblock %}