{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<style>
    h1 {
        color:black;
        font-family: "Times New Roman", Times, serif;
    }
    h3 {
        color:black;
        font-family: "Times New Roman", Times, serif;
    }
    }

    img {
        margin-right: 100px;
        
    }
</style>
            {% endblock %}

{% block body %}
<div><h1>Mon Blog Symfony </h1> </div>


{% for article in articles %}
    <h3>{{ article.title}}</h3>
    <span>{{ article.date.format('d/m/Y')}}</span>
    {% if article.image %}
    <img src="{{article.image}}">
    {% endif %}
    <p>{{article.content}}</p>
{% endfor %}
{% endblock %}


